
@{
    ViewBag.Title = "About";
}

<!-- team-section
                ================================================== -->
<div class="section-content team-section">
    <div class="title-section white">
        <div class="container triggerAnimation animated" data-animate="bounceIn">
            <h1>Meet our team</h1>
            <p>Vestibulum commodo felis quis tortor.</p>
        </div>
    </div>
    <div class="container">
        <div class="team-box triggerAnimation animated" data-animate="fadeInUp">
            <div id="owl-demo" class="owl-carousel owl-theme">

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>John Doe</h2>
                        <span>Senior SEO expert</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Michael Smith</h2>
                        <span>Web Designer</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Robert Jackson</h2>
                        <span>PHP Developer</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Bubrrec Qeli</h2>
                        <span>HTML Coder</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>John Doe</h2>
                        <span>Senior SEO expert</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Michael Smith</h2>
                        <span>Web Designer</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Robert Jackson</h2>
                        <span>PHP Developer</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="item team-post">
                    <img alt="" src="http://placehold.it/220x260">
                    <div class="team-head">
                        <h2>Bubrrec Qeli</h2>
                        <span>HTML Coder</span>
                    </div>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</p>
                    <ul class="team-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="buttons">
                <a class="owl-prev button-third" href="#"><i class="fa fa-angle-left"></i></a>
                <a class="owl-next button-third" href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- banner-section
    ================================================== -->
<div class="section-content banner-section">
    <div class="container triggerAnimation animated" data-animate="bounceIn">
        <h1>We are passionate about design</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
</div>

<!-- statistic-section2
    ================================================== -->
<div class="section-content statistic-section2">
    <div class="title-section white">
        <div class="container triggerAnimation animated" data-animate="bounceIn">
            <h1>Clean &amp; Modern design for your new company website</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
    </div>
    <div class="container">
        <div class="statistic-box style2 triggerAnimation animated" data-animate="tada">
            <div class="statistic-post">
                <div class="statistic-counter">
                    <i class="fa fa-heart-o"></i>
                    <p><span class="timer" data-from="0" data-to="256"></span></p>
                    <p>Finished Projects</p>
                </div>
                <div class="statistic-content">
                    <p><span>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</span></p>
                    <p>Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                </div>
            </div>
            <div class="statistic-post">
                <div class="statistic-counter">
                    <i class="fa fa-moon-o"></i>
                    <p><span class="timer" data-from="0" data-to="478"></span></p>
                    <p>Awards Won</p>
                </div>
                <div class="statistic-content">
                    <p><span>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</span></p>
                    <p>Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                </div>
            </div>
            <div class="statistic-post">
                <div class="statistic-counter">
                    <i class="fa fa-star-o"></i>
                    <p><span class="timer" data-from="0" data-to="28"></span></p>
                    <p>Happy Customers</p>
                </div>
                <div class="statistic-content">
                    <p><span>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</span></p>
                    <p>Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                </div>
            </div>
            <div class="statistic-post">
                <div class="statistic-counter">
                    <i class="fa fa-bell-o"></i>
                    <p><span class="timer" data-from="0" data-to="759"></span></p>
                    <p>Design Ideas</p>
                </div>
                <div class="statistic-content">
                    <p><span>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate.</span></p>
                    <p>Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- skills-accord-section
    ================================================== -->
<div class="section-content skills-accord-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="accord-box triggerAnimation animated" data-animate="slideInLeft">
                    <h1>Why choose us?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    <div class="accordion-box">
                        <div class="accord-elem active">
                            <div class="accord-title">
                                <h2>Our Mission</h2>
                                <a class="accord-link" href="#"></a>
                            </div>
                            <div class="accord-content">
                                <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. </p>
                            </div>
                        </div>

                        <div class="accord-elem">
                            <div class="accord-title">
                                <h2>Our Philosophy</h2>
                                <a class="accord-link" href="#"></a>
                            </div>
                            <div class="accord-content">
                                <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. </p>
                            </div>
                        </div>

                        <div class="accord-elem">
                            <div class="accord-title">
                                <h2>Our Vision</h2>
                                <a class="accord-link" href="#"></a>
                            </div>
                            <div class="accord-content">
                                <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills-box triggerAnimation animated" data-animate="slideInRight">
                    <h1>Our skills</h1>
                    <p>Donec odio. Quisque volutpat mattis eros. </p>
                    <div class="skills-progress">
                        <p>WordPress</p>
                        <div class="meter nostrips wp">
                            <p style="width: 95%"><span>95%</span></p>
                        </div>
                        <p>CSS3</p>
                        <div class="meter nostrips css">
                            <p style="width: 39%"><span>39%</span></p>
                        </div>
                        <p>HTML5</p>
                        <div class="meter nostrips html">
                            <p style="width: 76%"><span>76%</span></p>
                        </div>
                        <p>Photoshop</p>
                        <div class="meter nostrips photoshop">
                            <p style="width: 85%"><span>85%</span></p>
                        </div>
                        <p>Ruby</p>
                        <div class="meter nostrips ruby">
                            <p style="width: 80%"><span>80%</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- client-section
    ================================================== -->
<div class="section-content client-section">
    <div class="title-section">
        <div class="container triggerAnimation animated" data-animate="bounceIn">
            <h1>Our Prestigious clients</h1>
            <p>Praesent placerat risus quis eros.</p>
        </div>
    </div>
    <div class="container triggerAnimation animated" data-animate="shake">
        <ul class="bxslider">
            <li>
                <ul class="client-list">
                    <li><a href="#"><img alt="" src="~/Content/images/client1.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client2.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client3.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client4.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client5.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client6.png"></a></li>
                </ul>
            </li>
            <li>
                <ul class="client-list">
                    <li><a href="#"><img alt="" src="~/Content/images/client1.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client2.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client3.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client4.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client5.png"></a></li>
                    <li><a href="#"><img alt="" src="~/Content/images/client6.png"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>